<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Technology Blog</title>
  <link rel="stylesheet" href="/css/style.css" />

</head>
  <header>
    <h1 class = "text-center text-xl p-6">Welcome to the Technology Blog!</h1>
  </header>
  <nav class = "p-4">
    <a class = "p-4" href="/">Home</a>
    <!-- If the user is logged in, show a logout button -->
    <button id="logout" class="btn-no-style">Logout</button>
    <a class = "p-4" href="/new">Create New Job</a>
    
  </nav>
  <main class="bg-gray-100 text-gray-700  font-sans quicksand">
            {{{ body }}}
    </main>
</html>
<script src="/js/logout.js"></script>
<script src="/js/add-post.js"></script>