



<div class="heading text-center font-bold text-2xl m-5 text-gray-800">New Post</div>
<style>
  body {background:white !important;}
</style>
  <div class="editor mx-auto w-10/12 flex flex-col text-gray-800 border border-gray-300 p-4 shadow-lg max-w-2xl create-post">
    <input class="title bg-gray-100 border border-gray-300 p-2 mb-4 outline-none" id = "title" spellcheck="false" placeholder="Title" type="text">
    <textarea class="description bg-gray-100 sec p-3 h-60 border border-gray-300 outline-none" id = "content" spellcheck="false" placeholder="Describe everything about this post here"></textarea>
    <!-- buttons -->
    <div class="buttons flex">
      <a class="btn border border-gray-300 p-1 px-4 font-semibold cursor-pointer text-gray-500 ml-auto" href="/dashboard">Cancel</a>
      {{!-- <button type="submit" class= "btn border border-indigo-500 p-1 px-4 font-semibold cursor-pointer text-gray-200 ml-2 bg-indigo-500 add-post">Post</div>
    </button> --}}
    <a class="buttons flex btn border border-indigo-500 p-1 px-4 font-semibold cursor-pointer text-gray-200 ml-2 bg-indigo-500 add-post" id= "add-post">Create Post</a>
  </div>
  <script src="/js/add-post.js"></script>