<div>
  <form class="form signup-form">
  <div class="h-screen flex justify-center items-center">
    <div class="p-5 bg-gray-400 w-3/4 rounded-lg">
      <form class="p-3 flex flex-col space-y-5 form signup-form">
        <p class="text-xl">Sign Up</p>
        <input type="text" placeholder="username" id="username-signup" class="p-2 w-3/4bg-gray-100" />
        <input type="email" placeholder="email" id="email-signup"class="p-2 bg-gray-100" />
        <input type="password" placeholder="password" id="password-signup" class="p-2 bg-gray-100" />
        <button type="submit" class="p-2 bg-gray-100 rounded">submit</button>
      </form>
    </div>
    </form>
  </div>
<script src="./js/signup.js"></script>